{% extends 'based.html' %}

{% block title %} Reminder {% endblock %}
{% block content %}

    {% load crispy_forms_tags %}
    <h3 align="center">Remind me</h3>

        <form method="post">
            {% if mess %}
                <p>{{mess}}</p>
            {% else %}
                {% csrf_token %}
                <div class="form-row justify-content-center align-items-center">
                    <div class="form-group ">
                        {% crispy form %}
                    <div>
                </div>
                <p>minute:hour day-month-year</p>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Remind</button>
                </div>
            {% endif %}
        </form>
{% endblock %}

